# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store

# Python-specific files
*.egg-info/
dist/
build/
